<style type="text/css">
  #shortcuts i {
    margin-right: 5px;
  }

  #shortcuts li:nth-child(3) {
    margin-bottom: 10px;
  }

  #homelinks ul li {
    padding: 3px 0 0 0;
    font-size: 16px;
  }

  #homelinks ul li i {
    margin-right: 3px;
    font-weight: bold;
  }

  #body-inner ul {
    padding-left: 25px;
  }

  #body-inner ul li {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
  }

  #body-inner ul li ul {
    padding-top: 15px;
    padding-bottom: 15px;
  }
</style>