<link rel="sitemap" type="application/xml" href="/sitemap.xml"/>
<link rel="canonical" href="https://superwerker.workshop.aws{{ .RelPermalink }}"/>

<meta property="og:type" content="website"/>
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description"  content="{{ .Description }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:url" content="{{ .Permalink | absURL }}"/>
<meta property="og:image" content="{{ .Permalink | absURL }}social/facebook.jpg"/>

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ $.Site.Params.twitter }}">
<meta name="twitter:creator" content="{{ $.Site.Params.twitter }}">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ .Description }}">
<meta name="twitter:image" content="{{ .Permalink | absURL }}social/twitter.jpg">


<!-- Fathom - beautiful, simple website analytics -->
<script src="https://cdn.usefathom.com/script.js" data-site="AKLVJULF" defer></script>
<!-- / Fathom -->